/**
 *
 * Project-wide styles
 *
 */

html {
    // @apply bg-white font-ekster overflow-x-hidden h-full;
    /* Font weight issue in other browsers like firefox and safari etc */
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
}

/* a {
    @apply no-underline text-black;
} */
