<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    block headtitle
      if title
        title #{title} - Site Title
      else
        title Site Title
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    block styles
      include ../_partials/styles
  </head>
  <body>
    <div id="outer-site-wrap">
      include ../_partials/header
      <main class="main-wrap">
        //- Page Content Starts here
        block content
      </main>
      include ../_partials/footer
    </div>
  </body>
  block scripts
    //- Include Scripts
    include ../_partials/scripts
</html>
