@charset 'utf-8';

@import 'settings';
@import '~foundation-sites/scss/foundation';
// @import '~motion-ui/motion-ui';

// Global styles
// ---
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids
// ---
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
// ---
// @include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;

// Basic components
// ---
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
// ---
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;

// Menu-based containers
// ---
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
// ---
@include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
// ---
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Prototype Utilities
// ---
@include foundation-prototype-spacing;
// @include foundation-prototype-sizing;
// @include foundation-prototype-separator;
// @include foundation-prototype-typescale;
// @include foundation-prototype-text-utilities;
// @include foundation-prototype-text-transformation;
// @include foundation-prototype-text-decoration;
// @include foundation-prototype-font-styling;
// @include foundation-prototype-list-style-type;
// @include foundation-prototype-rounded;
// @include foundation-prototype-bordered;
// @include foundation-prototype-shadow;
// @include foundation-prototype-arrow;
// @include foundation-prototype-overflow;
// @include foundation-prototype-display;
// @include foundation-prototype-position;
// @include foundation-prototype-border-box;
// @include foundation-prototype-border-none;

// Motion UI
// ---
// @include motion-ui-transitions;
// @include motion-ui-animations;
