// Colors
// ---
$transparent-color: transparent;
// $alto-color: #D2D2D2; // RGB: 210, 210, 210

// Social Media Brand Colors
// ---
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #517fa4;

// Fonts
// ---
// $futuraLight: 'Futura Light';
