{
    "presets": [
        ["env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 0.25%"
                    ]
                }
            }
        ],
        "react"
    ],
    "compact": true,
    "plugins": [
        "transform-es2015-template-literals",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        [
            "transform-runtime",
            {
                "polyfill": true,
                "helpers": false
            }
        ]
    ]
}
