// Menu
// ----

.main-nav {
  display: none;
  width: 100%;
  // 1024px and up
  @include breakpoint(large up) {
    display: block;
  }
}

// This is the `ul` list
.main-nav--menu {
  list-style: none;
  margin: 0;
}

// This is the `li` list
.main-nav--menu > .main-nav--item {
  display: inline-block;
  padding: 0 .5rem;

  // is active menu
  &.is-active > .main-nav--parent-anchor {
    color: $primary-color;
  }

  // 1280px and up
  @include breakpoint(1280px up) {
    padding: 0 .9375rem;
  }
}

// This is the parent menu item link
.main-nav--parent-anchor {
  backface-visibility: hidden;
  color: $primary-color;
  display: inline-block;
  font-weight: 500;
  position: relative;
  transition-duration: .4s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: ease;

  // 1279px and down
  @include breakpoint(1279px down) {
    @include font-size(14);
  }
}

.main-nav--parent-anchor::before {
  background: $primary-color;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition-duration: .25s;
  transition-property: opacity, visibility, transform;
  transition-timing-function: ease-in-out;
  width: 100%;
}

// This is the parent menu item link hover and focus state
.main-nav--parent-anchor:hover,
.main-nav--parent-anchor:focus {
  &::before {
    transform: scaleX(1);
    transition-delay: .25s;
  }
}
