// Mobile Nav
// ---

.mobile-nav {
  overflow-y: initial;

  // 1024px and above
  @include breakpoint(large up) {
    @include visibility(hide);
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  ul > li,
  ul > li > a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 48px;
  }

  ul > li {
    text-align: center;
  }

  ul > li > a {
    font-weight: 500;
    letter-spacing: rem-calc(1);
    padding: .3rem 2rem;
    width: 100%;
  }

  ul > li:not(.is-accordion-submenu-item) {
    border-bottom: 2px solid $white;
  }

  // `li` parent which has dropdown item
  .is-accordion-submenu-parent {
    position: relative;

    .submenu-toggle {
      color: $transparent;
      cursor: pointer;
      height: 48px;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;

      &::before {
        @include caret-arrow($primary-color, down);
        content: '';
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &[aria-expanded='true']::before {
        @include caret-arrow($primary-color, up);
      }

      > .submenu-toggle-text {
        display: none;
      }
    }
  }

  // Accordion submenu
  .is-accordion-submenu {
    max-width: 100%;

    .submenu-toggle {
      &::before {
        @include caret-arrow($medium-gray, down);
      }

      &[aria-expanded='true']::before {
        @include caret-arrow($medium-gray, up);
      }
    }
  }

  .is-accordion-submenu > li > a {
    @include font-size(14);
    color: $medium-gray;
  }
}

// Inner wrap that handle background-color custom style for offcanvas
.mobile-nav--innerwrap {
  background-image: linear-gradient(to bottom, #f9f9f9, $white 100%);
  border: 2px solid $white;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .05);
  height: 100%;
}

.mobile-nav--menu > li > a {
  display: inline-block;
}
