// Search
// ---
.header-search {
  @include visibility(hide);
  backface-visibility: hidden;
  height: 2.6rem;
  max-width: 540px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  transition: opacity .25s ease;

  .hs-input {
    // input field
    input {
      background: none;
      border-bottom: 1px solid $white;
      box-shadow: none;
      color: $white;
      font-size: 18px;
      height: 2.2rem;
      letter-spacing: 2px;
      margin: 0;
      outline: none;
      padding: 5px 0;
    }

    input::placeholder {
      color: $white;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }

  .hs-button {
    // button icon
    button,
    .icon-search {
      color: $white;
      cursor: pointer;
      font-size: 25px;
      left: 0;
      margin-right: 10px;
      position: relative;
      top: 5px;
    }
  }
}
