###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: 'staging'
    DEFAULT_SITE_URL: 'http://www.app'
    DB_SERVER: ''
    DB_DATABASE: ''
    DB_USER: ''
    DB_PASSWORD: ''
    DB_TABLE_PREFIX: 'craft'
    DB_DRIVER: 'mysql'
    REDIS_HOST: '127.0.0.1'
    REDIS_USER: ''
    REDIS_PORT: '6379'
    REDIS_PASS: ''
    REDIS_DB: '1'
    SECURITY_KEY: ''
    CSRF_TOKEN: 'csrf'
    ASSETS_BASE_URL: 'https://assets.app.com/web'
    AWS_S3_BUCKET: 'assets.app.com'
    AWS_CF_ID: ''
    MAILGUN_DOMAIN: ''
    MAILGUN_KEY: ''
