###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: 'staging'
    APP_URL: 'http://app'
    APP_NAME: 'Craft Website'
    DB_SERVER: ''
    DB_DATABASE: ''
    DB_USER: ''
    DB_PASSWORD: ''
    DB_TABLE_PREFIX: 'craft'
    DB_DRIVER: 'mysql'
    REDIS_HOST: ''
    REDIS_USER: ''
    REDIS_PORT: ''
    REDIS_PASS: ''
    REDIS_DB: ''
    SECURITY_KEY: ''
    CSRF_TOKEN: 'csrf'
    ASSETS_BASE_URL: ''
    AWS_S3_BUCKET: ''
    AWS_CF_ID: ''
    LE_SSL_DOMAIN: 'mysite.com'
    LE_EMAIL: 'development@venveo.com'
    LE_INSTALL_SSL_ON_DEPLOY: 'true'
