// Styleguide
// ---

.page-styleguide {
  margin: 3rem 0;
}

.guide-title {
  // font-family: $acherusGrotesqueBld;
  font-size: 30px;
  text-align: center;
}

.sg-color-palette {
  &--color {
    display: inline-block;
    height: 120px;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;

    &.color1 {
      background-color: $primary-color;
    }

    &.color2 {
      background-color: $secondary-color;
    }

    &.color3 {
      background-color: $light-gray;
    }

    &.color4 {
      background-color: $medium-gray;
    }

    &.color5 {
      background-color: $dark-gray;
    }
  }
}
