extends ../_layouts/default

//- Set Title
prepend headtitle
  - var title = 'Homepage'
  
//- Append custom style for this template
append styles
  //-<link rel="stylesheet" href="assets/css/.css" />

block content
  <div class="page-homepage">
    <h1>Homepage!</h1>
  </div>
  
//- Append custom script for this template
append scripts
  //-<script src="assets/js/.js"></script>
