extends ../_layouts/default

//- Set Title
prepend headtitle
  - var title = 'Styleguide'
  
//- Append custom style for this template
append styles
  //-<link rel="stylesheet" href="assets/css/.css" />

block content
  <div class="page-styleguide">
    <h1>Styleguide!</h1>
  </div>
  
//- Append custom script for this template
append scripts
  //-<script src="assets/js/.js"></script>
