/*
|-----------------------------------------------------------------------------
| Article Detail
|-----------------------------------------------------------------------------
*/

/*
| <p> Tag
|-----------------------------------------------------------------------------
*/
.article-content article .content-module p {
    @apply leading-relaxed;
}
/* End <p> Tag
----------------------------------------------------------------------------- */

/*
| <a> Tag
|-----------------------------------------------------------------------------
*/
.article-content article .content-module p a,
.article-content article .content-module ul li a,
.article-content article .content-module ol li a {
    @apply underline;
}
/* End <a> Tag
----------------------------------------------------------------------------- */

/*
| <ul> Tag
|-----------------------------------------------------------------------------
*/
.article-content article .content-module ul {
    @apply list-disc list-outside pl-5;
}
/* End <ul> Tag
----------------------------------------------------------------------------- */

/*
| <ol> Tag
|-----------------------------------------------------------------------------
*/
.article-content article .content-module ol {
    @apply list-decimal list-outside pl-5;
}
/* End <ol> Tag
----------------------------------------------------------------------------- */

/* Article element tags margin-bottom */
.article-content article .content-module p,
.article-content article .content-module ul,
.article-content article .content-module ul li,
.article-content article .content-module ol,
.article-content article .content-module ol li,
.article-content article .content-module h1,
.article-content article .content-module h2,
.article-content article .content-module h3,
.article-content article .content-module h4,
.article-content figure img,
.article-content article .content-module .video-article {
    @apply mb-8;
}

/* Headings & Strong font-weight */
.article-content article .content-module h1,
.article-content article .content-module h2,
.article-content article .content-module h3,
.article-content article .content-module h4,
.article-content article .content-module strong {
    @apply font-bold;
}

/*
| Heading sizes
|-----------------------------------------------------------------------------
*/
.article-content article .content-module h1 {
    @apply text-5xl leading-none;
}

.article-content article .content-module h2 {
    @apply text-4xl leading-none;
}

.article-content article .content-module h3 {
    @apply text-3xl leading-tight;
}

.article-content article .content-module h4 {
    @apply text-2xl leading-tight;
}

/* ......... */


/* End Heading sizes
----------------------------------------------------------------------------- */

/*
| Figure
|-----------------------------------------------------------------------------
*/

/* End Figure
----------------------------------------------------------------------------- */
