<nav class="main-nav">
  <ul class="menu">
    //- Note: for active state menu add `is-active` on li.submenu-parent
    <li class="is-dropdown-submenu-parent submenu-parent">
      <a href="#" class="submenu-parent-item">MENU 1</a>
      <!-- Dropdown -->
      <div class="submenu-wrap submenu-wrap--list">
        <div class="submenu-wrap--inner">
          <ul class="main-list">
            <li><a href="#">SUBMENU 1</a></li>
            <li><a href="#">SUBMENU 2</a></li>
            <li><a href="#">SUBMENU 3</a></li>
            <li><a href="#">THIS IS A VERY LONG SUBMENU ITEM RIGHT HERE</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="submenu-parent">
      <a href="#" class="submenu-parent-item">MENU 2</a>
    </li>
    <li class="submenu-parent">
      <a href="#" class="submenu-parent-item">MENU 3</a>
    </li>
    <li class="submenu-parent">
      <a href="#" class="submenu-parent-item">MENU 4</a>
    </li>
  </ul>
</nav>
