<nav class="mobile-nav">
  <ul class="menu vertical" data-drilldown data-auto-height="true" data-animate-height="false">
    <li>
      <a class="is-drilldown-anchor-parent">PRODUCTS</a>
      <ul class="menu">
        <li class="parent-label">PRODUCTS</li>
        <li><a href="#" class="is-drilldown-submenu-anchor">SUBMENU 1</a></li>
        <li><a href="#" class="is-drilldown-submenu-anchor">SUBMENU 2</a></li>
        <li><a href="#" class="is-drilldown-submenu-anchor">SUBMENU 3</a></li>
        <li><a href="#" class="is-drilldown-submenu-anchor">THIS IS A VERY LONG SUBMENU ITEM RIGHT HERE</a></li>
      </ul>
    </li>
    <li>
      <a href="#howtobuy" class="is-drilldown-anchor-parent">HOW TO BUY</a>
    </li>
    <li>
      <a href="#resources" class="is-drilldown-anchor-parent">RESOURCES</a>
    </li>
    <li>
      <a href="#inspiration" class="is-drilldown-anchor-parent">INSPIRATION</a>
    </li>
  </ul>
</nav>
