// Button
// ---
.button {
  border: 0;
  letter-spacing: 1.75px;

  // Thin
  &.is-thin {
    padding: .7em 1em;

    &.small {
      padding: 1.1em 1em;
    }
  }

  // is hollow
  &.hollow {

    // is hollow border width
    &.border-width-1 {
      border-width: 1px;
    }

    &.border-width-2 {
      border-width: 2px;
    }
  }

  // gradient 1
  &.has-gradient-1 {
    background-image: linear-gradient(to right, $spray-color, $drowny-color 100%);
    border: 0;

    &:hover {
      color: $secondary-color;
    }
  }

  // icon
  &.has-icon {
    .appicon {
      display: inline-block;
      float: left;
      font-size: 30px;
      margin-right: 10px;
      transform: translateY(-7px);
    }
  }

  // shadow
  &.has-shadow {
    box-shadow: 10px 10px 20px rgba($black, .2);
  }

  // dark text
  &.has-dark-text {
    color: $dark-gray;
  }
}
