// Container
// ---
.container {
  padding: 2rem 0;

  // 768px and up
  @include breakpoint(768px up) {
    padding: 3.75rem 0;
  }

  // is white
  &.container--white {
    background-color: $white;
  }

  // is gray
  &.is-gray {
    background: radial-gradient(at center center, rgb(255, 255, 255), rgb(243, 243, 243)) repeat scroll 0% 0%;
  }

  // is Dark
  &.is-dark {
    background: radial-gradient(at center center, rgb(40, 40, 40), rgb(30, 30, 30)) repeat scroll 0% 0%;
    color: $white;
  }
}
