// Newsletter
// ---

.newsletter {
  h3,
  h4,
  h5,
  h6 {
    font-family: $gothamMedium;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .input-email,
  button {
    margin-bottom: 0;
  }

  .button-submit {
    .appicon {
      font-size: 18px;
    }
  }

  // Newsletter: Input Group
  &--inputgroup {
    form > .input-group {
      display: flex;
      margin-bottom: 0;

      .button {
        padding: .94em 1em;
      }
    }
  }
}
