// Social
// ---
// Usage:
// Default alignment: vertical

.social {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 0;

  // Horizontal alignment
  &.is-horizontal {
    li {
      display: inline-block;
      float: none;
      margin: 0 3px;
    }
  }

  // Dark
  &.is-dark {
    .appicon {
      color: $dark-gray;
    }
  }

  // White
  &.is-light {
    .appicon {
      color: $white;

    }
  }

  // Default
  .appicon {
    display: inline-block;
    font-size: 50px;
    transition-duration: .25s;
    transition-property: transform, color;
    transition-timing-function: ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }
}

.social:not(.text-center) {
  text-align: left;
}
