<nav class="main-nav">
  <ul class="main-nav--menu">
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 1</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 2</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 3</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 4</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 5</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 6</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 7</a>
    </li>
    <li class="main-nav--item">
      <a href="#" class="main-nav--parent-anchor">MENU 8</a>
    </li>
  </ul>
</nav>
