<nav class="mobile-nav off-canvas position-left" id="offcanvasMainNav" data-mobile-nav>
  <div class="mobile-nav--innerwrap">
    <ul class="mobile-nav--menu" data-accordion-menu data-submenu-toggle="true">
      <li>
        <a href="#">ITEM 1</a>
      </li>
      <li>
        <a href="#the-concept">ITEM 2</a>
        <ul>
          <li>
            <a href="#">SUBMENU 1</a>
            <ul>
              <li><a href="#">SUBMENU 1</a></li>
              <li><a href="#">SUBMENU 2</a></li>
              <li><a href="#">THIS IS A VERY LONG SUBMENU ITEM RIGHT HERE</a></li>
            </ul>
          </li>
          <li><a href="#">SUBMENU 2</a></li>
          <li><a href="#">SUBMENU 3</a></li>
          <li><a href="#">THIS IS A VERY LONG SUBMENU ITEM RIGHT HERE</a></li>
        </ul>
      </li>
      <li>
        <a href="#">ITEM 3</a>
      </li>
      <li>
        <a href="#">ITEM 4</a>
      </li>
      <li>
        <a href="#">ITEM 5</a>
      </li>
      <li>
        <a href="#">ITEM 6</a>
      </li>
      <li>
        <a href="#">ITEM 7</a>
      </li>
      <li>
        <a href="#">ITEM 8</a>
      </li>
    </ul>
  </div>
</nav>
