// blockquote
// ---

.blockquote-section {
  @include breakpoint(768px down) {
    padding-top: rem-calc(32);
    position: relative;

    &::before {
      background-color: transparent;
      content: '';
      height: 1px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: calc(100% - 80px);
    }
  }
}

.blockquote-container {
  padding: 0 .5rem;
}

.blockquote {

  &--default {
    @include font-size(23);
    line-height: 1.4;
    margin: 0 auto;
    max-width: 504px;
    position: relative;
    width: 100%;

    // Double Quote SVG
    // .blockquote--quote {
    //   left: 0;
    //   position: absolute;
    //   top: 0;
    // }

    cite {
      @include font-size(17);
      font-style: normal;
      text-align: right;
    }

    cite::before {
      display: inline-block;
      transform: translate(-7px, -4px);
    }
  }
}
