.nav-button {
  cursor: pointer;
  position: absolute;
  transition-duration: .3s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  z-index: 10;

  &.swiper-button-disabled {
    cursor: auto;
    opacity: .35;
    pointer-events: none;
  }

  // Arrow 1
  &--style1 {
    background: rgba($white, .8);
    border: 1px solid $white;
    bottom: rem-calc(30);
    height: 40px;
    width: 40px;

    // Arrow icon
    &::before {
      color: $primary-color;
      font-size: 10px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    // 639px and below
    @include breakpoint(small down) {
      bottom: rem-calc(-20);
    }
  }

}
